.current-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: blur(5px);
}

.current-track .background {
  z-index: 0;
  position: fixed;
  height: 100%;
  width: 15vw;
  filter: blur(15px);
  opacity: 50%;
}

.update {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.update text {
  color: white;
  font-size: clamp(15px, 1.2vw, 20px);
}

.update button {
  background-color: var(--spotify-green);
  color: white;
  font-weight: 700;
  width: auto;
  height: 25px;
  margin: 15px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
}

.update button:hover {
  background-color: var(--app-blue);
}

.current-track .song-info {
  z-index: 1;
}

.current-track #show .song-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-track #hide .song-info-container {
  display: none;
}

.label {
  color: var(--lightest-gray);
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.current-track .song-info img {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.current-track .song-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-track .name {
  color: var(--lightest-gray);
  font-weight: 700;
  font-size: clamp(15px, 1vw, 20px);
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.current-track .artist {
  color: var(--lightest-gray);
  font-size: clamp(12px, 0.7vw, 17px);
  letter-spacing: 1px;
}

.current-track .song-preview button {
  display: none;
}

@media only screen and (max-width: 1125px) {
  .current-track .background {
    width: 70vw;
    height: 45vh;
  }

  .current-track .song-info img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
