.friend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  border-bottom: 1px solid var(--darker-gray);
}

.friend-item .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1px;
  margin: 10px;
}

.friend-item .user-info .userdp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.friend-item .user-info .name {
  color: var(--lightest-gray);
  font-size: clamp(15px, 1vw, 25px);
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 10px;
}

.friend-item .remove-friend {
  background-color: transparent;
  border: none;
  color: var(--darkest-gray);
  margin-left: 5px;
}

.friend-item .remove-friend:hover {
  background-color: transparent;
  border: none;
  color: red;
}
