.home {
  margin-top: 55px;
  background-color: var(--darkest-gray);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* to make the page unscrollable */
}

.home-left {
  width: clamp(300px, 20vw, 450px);
}

.home-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  min-width: 400px;
  height: auto;
  border-left: 1px solid var(--darker-gray);
  overflow-y: scroll; /* to make the div scrollable */
}

.home-mid::-webkit-scrollbar {
  display: none; /* to hide scroll bar in Safari and Chrome */
}

.home-right {
  width: clamp(300px, 25vw, 450px);
  height: 100vh;
  border-left: 1px solid var(--darker-gray);
}

.home-right::-webkit-scrollbar {
  display: none; /* to hide scroll bar in Safari and Chrome */
}

@media only screen and (max-width: 1125px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .home-left {
    margin-bottom: 20px;
    height: 45vh;
  }

  .home-mid {
    border-left: none;
    border-top: 1px solid var(--darker-gray);
    width: 100vw;
    z-index: 1;
  }

  .home-right {
    display: none;
  }
}
