.reaction-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.reaction-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reaction-info text {
  color: var(--lightest-gray);
}

.reaction-item .song-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reaction-item img {
  width: clamp(100px, 10vw, 300px);
  height: clamp(100px, 10vw, 300px);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.reaction-item .name {
  color: var(--lightest-gray);
  font-weight: 700;
  font-size: clamp(15px, 0.9vw, 25px);
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.reaction-item .artist {
  color: var(--lightest-gray);
  font-size: clamp(12px, 0.6vw, 22px);
  letter-spacing: 1px;
  margin-bottom: 0px;
}
