.song-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: auto;
  width: 20vw;
  min-width: 500px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--darker-gray);
}

.song-item .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px;
}

.song-item .user-info .userdp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.song-item .user-info .name {
  color: var(--lightest-gray);
  font-size: clamp(15px, 1vw, 25px);
  font-weight: 400;
  letter-spacing: 1px;
  margin-left: 10px;
}

.song-item .song-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-item .song-elements img {
  border-radius: 20px;
  height: clamp(300px, 30vw, 500px);
  width: clamp(300px, 30vw, 500px);
  margin-bottom: 10px;
}

.song-item .name {
  color: var(--lightest-gray);
  font-weight: 700;
  font-size: clamp(15px, 1vw, 25px);
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.song-item .artist {
  color: var(--lightest-gray);
  font-size: clamp(12px, 0.9vw, 22px);
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.song-item button {
  background-color: transparent;
  border: none;
  color: var(--lightest-gray);
  margin-top: 5px;
}

.song-item button:hover {
  color: var(--spotify-green);
}
